* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    width: 14rem;
    height: 100vh;
    background-color: #4a6666;
}

.flex {
    display: flex;
    flex-direction: column;
    align-self: center;
}

img {
    width: 800px;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 3rem);
    text-align: center;
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}